<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="睿瞳科技 睿瞳官网 睿瞳系统 人工智能平台 企业级管理系统 少儿科技 少儿培养">
    <title>睿瞳科技| 睿瞳官网| 睿瞳系统| 人工智能平台| 企业级管理系统| 少儿科技 |少儿培养</title>
    <meta name="description" content="睿瞳科技 是一个 致力于青少年人工智能方面培养， 致力于打造最好用的少儿人工智能的公司 。她也适合新手朋友练手 。同时具备， 界面简洁美观、高效、安全、源码可控、版本迭代快、免费技术交流群 等特点。">
    <meta name="keywords" content="睿瞳科技,睿瞳官网,睿瞳系统,人工智能平台,少儿科技,少儿培养">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/jquery.growl.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/static/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/static/plugins/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/page-learing-article.css" />
    <link rel="stylesheet" href="/css/page-learing-index.css" />
    <link rel="stylesheet" href="/css/page-header.css" />
    <link rel="stylesheet" href="/css/el/index.css" />
    <link rel="stylesheet" href="/css/main.css" />




    <!-- Stylesheets -->


</head>
<body class="boxed_wrapper">
<!--头部导航-->
<!--<header>-->
<!--    <div class="learingHeader">-->
<!--        <nav class="navbar">-->
<!--            <div class="">-->
<!--                <div class="logo"><img src="/img/asset-logoIco.png" width="100%" alt=""></div>-->
<!--                <div class="nav-list">-->
<!--                    <ul class="nav navbar-nav">-->
<!--                        <li ><a href="/">首页</a></li>-->
<!--                        <li><a href="/course/search">课程</a></li>-->
<!--&lt;!&ndash;                        <li><a href="#">职业规划</a></li>&ndash;&gt;-->
<!--                        <li></li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="sign-in">-->
<!--                    &lt;!&ndash; 未登录 &ndash;&gt;-->
<!--                    &lt;!&ndash; <a href="#">登录 </a> <span> | </span> <a href="#"> 注册</a>&ndash;&gt;-->
<!--                    &lt;!&ndash; 登录 &ndash;&gt;-->
<!--                    &lt;!&ndash;<a href="#" class="personal"><span class="personalIco"></span>消息</a>&ndash;&gt;-->
<!--                    <span v-if="logined == true">欢迎 {{this.user.username}}</span>-->
<!--                    <a href="javascript:;" @click="logout" v-if="logined == true">退出</a>-->
<!--                    <a href="http://ucenter.ruitong.com/" class="personal" target="_blank">我的学习</a>-->
<!--                    <a href="javascript:;" @click="showlogin" v-if="logined == false">登陆&nbsp;|&nbsp;注册</a>-->
<!--                    <a href="http://teacher.ruitong.com/" class="personal" target="_blank">教学提供方</a>-->
<!--                    <a href="http://localhost:11000/" class="personal" target="_blank">系统后台</a>-->
<!--                    &lt;!&ndash;<a href="#" class="myInfo"><img src="img/asset-myImg.jpg" alt="">个人中心</a>&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;<div class="starch">-->
<!--                    <div><input type="text" class="input-search" placeholder="输入查询关键词"></div>-->
<!--                    <div class="searchword"><a href="">搜索</a> </div>-->
<!--                </div>&ndash;&gt;-->
<!--                <div class="starch">-->
<!--                    <div><input type="text" class="input-search" v-model="keyword" @keyup.enter="search"  placeholder="输入查询关键词"></div>-->
<!--                    <div class="searchword"><a @click="search">搜索</a> </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->

<!--</header>-->


    <div class="wraper_flyout_search">
        <div class="table">
            <div class="table-cell">
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-close">
                    <span class="flyout-search-close-line"></span>
                    <span class="flyout-search-close-line"></span>
                </div>
                <div class="flyout_search">
                    <div class="flyout-search-title">
                        <h4>搜索</h4>
                    </div>
                    <div class="flyout-search-bar">
                        <form role="search" method="get" action="http://www.ruitong.com/course/search">
                            <div class="form-row">
                                <input type="search" placeholder="想搜点什么呢？" value="" name="keyword" required="" id="searchKeyword">
                                <button type="submit"><i class="fa fa-search warning"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search-box-layout end -->


    <!-- Main Header 顶头头部-->
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <div class="inner-container clearfix">
                    <div class="header-info pull-right">
                        <ul class="info-list">
                            <li>
                                <i class="fas fa-phone"></i>
                                <a href="tel:010-82314879"> 010-82314879</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:yang_cissy@163.com">yang_cissy@163.com</a>
                            </li>
                            <li>
                                <i class="fas fa-user"></i>
<!--                                <span v-if="logined == true">欢迎 {{this.user.username}}</span>-->
<!--                                <a href="javascript:;" @click="logout" v-if="logined == true">退出</a>-->
<!--                                <a href="javascript:;" @click="showlogin" v-if="logined == false">登陆/注册</a>-->
                                <a href="http://ucenter.ruitong.com/#/login">登录/注册</a>
                            </li>
                            <li>
                                <i class="fas fa-user-circle"></i>
                                <a href="http://teacher.ruitong.com/">课程管理</a>
                            </li>
                            <li>
                                <i class="fas fa-user-clock"></i>
                                <a href="http://cms.ruitong.com/">系统管理</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="clearfix">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></figure>
                    </div>
                    <div class="nav-outer pull-right clearfix">
                        <div class="menu-area">
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="index.html">首页</a></li>
                                        <li class="dropdown"><a href="#">解决方案</a>
                                            <ul>
                                                <li><a class="warning" href="#">产品介绍</a></li>
                                                <li><a class="warning" href="#">在线模拟器</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">课程中心</a>
                                            <ul>
                                                <li><a href="http://www.ruitong.com/course/search">课程内容</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery.html">作品案例</a></li>
                                        <li class="dropdown"><a href="#">赛事平台</a>
                                            <ul>
                                                <li><a class="warning" href="#">少年硅谷</a></li>
                                                <li><a class="warning" href="#">大开眼界</a></li>
                                                <li><a class="warning" href="#">计算机表演赛</a></li>
                                                <li><a class="warning" href="#">智慧海洋</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">新闻动态</a>
                                            <ul>
                                                <li><a class="warning" href="#">新闻动态</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">联系我们</a>
                                            <!--                                            <ul>-->
                                            <!--                                                <li><a class="warning" href="#">合作咨询</a></li>-->
                                            <!--                                            </ul>-->
                                        </li>
                                        <!--                                        <li><a href="contact.html">技术与支持</a></li>-->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="outer-box">
                            <ul class="outer-content">
                                <li class="header-flyout-searchbar">
                                    <i class="fa fa-search"></i>
                                </li>
                                <!-- <li><a href="shop.html"><i class="fas fa-shopping-cart"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Sticky Header 粘附式头部-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="index.html"><img src="images/small-logo.png" alt="睿瞳科技"></a></figure>
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="index.html">首页</a></li>
                                <li class="dropdown"><a href="#">解决方案</a>
                                    <ul>
                                        <li><a class="warning" href="#">产品介绍</a></li>
                                        <li><a class="warning" href="#">在线模拟器</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="http://www.ruitong.com/course/search">课程中心</a>
                                    <ul>
                                        <li><a href="http://www.ruitong.com/course/search">课程内容</a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery.html">作品案例</a></li>
                                <li class="dropdown"><a href="#">赛事平台</a>
                                    <ul>
                                        <li><a class="warning" href="#">少年硅谷</a></li>
                                        <li><a class="warning" href="#">大开眼界</a></li>
                                        <li><a class="warning" href="#">计算机表演赛</a></li>
                                        <li><a class="warning" href="#">智慧海洋</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">新闻动态</a>
                                    <ul>
                                        <li><a class="warning" href="#">新闻动态</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">联系我们</a>
                                    <!--                                            <ul>-->
                                    <!--                                                <li><a class="warning" href="#">合作咨询</a></li>-->
                                    <!--                                            </ul>-->
                                </li>
                                <!--                                        <li><a href="contact.html">技术与支持</a></li>-->
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div><!-- sticky-header end -->
    </header>

<script type="text/x-template" id="login">
<div>login....</div>
</script>
<script>
    function search() {
        var keyword = document.getElementById("searchKeyword");
        window.location.href = 'http://www.ruitong.com/coures/search?keyword='+keyword;
    }
</script>

<!-- jequery plugins -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/jquery.growl.js" ></script>
<!-- main-js -->
<script src="/js/script.js"></script>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/jwt-decode/jwt-decode.min.js"></script>
<script src="/js/base64.min.js"></script>
<script src="/js/axios/axios.min.js"></script>
<script src="/js/querystring/index.js"></script>
<script src="/js/util.js"></script>
<script src="/js/public.js"></script>
<script src="/js/login.js"></script>
<script src="/css/el/index.js"></script>

<script>

  var headVm= new Vue({   //创建一个Vue的实例
        el: "#app", //挂载点是id="app"的地方

        data: {
            keyword: '',
            loginFormVisible: false,
            activeName: 'login',
            editLoading: false,

            formLabelWidth: '120px',
            user:{
                userid:'',
                username: '',
                userpic: ''
            },
            logined:false
        },
        methods: {
            search() {
                if (this.keyword === '') {
                    window.location = "/course/search"
                } else {
                    let keyword = encodeURIComponent(this.keyword)
                    window.location = "/course/search?keyword="+keyword
                }
            },
           logout: function () {
                this.$confirm('确认退出吗?', '提示', {
                }).then(() => {
                    //跳转到统一登陆
                    window.location = "http://ucenter.ruitong.com/#/logout"
                }).catch(() => {

                });
            },
            refresh_user:function(){
                //从sessionStorage中取出当前用户
                let activeUser= getActiveUser();
                //取出cookie中的令牌
                let uid = getCookie("uid")
                //console.log(activeUser)
                if(activeUser && uid && uid == activeUser.uid){
                    this.logined = true
                    this.user = activeUser;
                }else{
                    if(!uid){
                        return ;
                    }
                    console.log("正在请求jwt信息")
                    //请求查询jwt
                    getjwt().then((res) => {
                        if(res.success){
                            let jwt = res.jwt;
                            let activeUser = getUserInfoFromJwt(jwt)
                            if(activeUser){
                                this.logined = true
                                this.user = activeUser;
                                setUserSession("activeUser",JSON.stringify(activeUser))
                            }
                        }
                    })
                }
            },
            resetForm:function(formName){
                this.$refs[formName].resetFields();
            },
            showlogin: function(){
                // window.location = "http://ucenter.ruitong.com/#/login?returnUrl="+ Base64.encode(window.location)
            }
        },
       created() {

        },
        mounted(){
            //刷新当前用户
            this.refresh_user()
        }
    })
</script>
</body>
</html>
